@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12pt;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex  * {
  padding: 4px;
}

html,
body {
  background-color: #111;
  color: #eee;
  font-family: 'Courier New', Courier, monospace;
}

input[type="number"] {
  border: 1px solid #111;
  background-color: #444;
  color: #eee;
}

#canvas.clip {
  clip-path: circle(256px at center);
}

button {
  padding: 4px;
  border: 1px solid #ddd;
  background-color: #444;
  color: #eee;
}