@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.flex > * {
  padding: 4px;
}

html,
body {
  background-color: #111;
  color: #eee;
  font-family: 'Courier New', Courier, monospace;
}

canvas {
  background-color: #000;
  image-rendering: pixelated;
}
